.App {
  text-align: center;
}

.nav-bar{
  display:grid;
  grid-template-areas: 
    "b a";
  margin-top:40;
  background-color:#abc;
}
.nav-bar>h3{
  grid-area:a;
  
}
.nav-bar>h1{
  grid-area:b;
}


